#sideNav{
    color: #0c5460;
    background-color: #202124;
    box-shadow: 1px 1px 5px #171c17;

}
.headings{
    color: #407ebf;
    font-family: Raleway,Roboto,Corbel,sans-serif;
}
.headings:hover{
    color: #4CAF50;
    transition: 0.2s;

}

#prf{
    background-color: #407ebf;
}
#prf:hover{
    background-color: #4CAF50;
    transition: 0.5s;

}
#about{
    vertical-align: middle;

}

#entry{
    display: block;
    font-family: Raleway,Roboto,serif;
    background-image: url("../img/image.png");
    /*background-image: linear-gradient(135deg, #5fff85, #ffec96);*/
    padding-bottom: 100px;
    box-shadow: 1px 1px 5px #171c17;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: auto;
    justify-content: right;
text-align: right;
}
#entry:hover{

}

h1,h2,h3,h4,h5,h6,a,div{
     font-family: Raleway, Roboto, Corbel, sans-serif;
}
